h1.page-header = params[:action] == "index" || params[:action] ==  "create" ? "Create A Post on #{title_type_based(params[:at])}" : "Edit A Post on Families"

#notice

= render "form"
#articles_data

